@font-face {
  font-family: 'De La Fuente';
  font-style: normal;
  font-weight: 300;
  src: url('../../../static/fonts/DeLaFuente.ttf'); /* IE9 Compat Modes */
  src: local('DeLaFuente'), local('DeLaFuente'),
    url('../../../static/fonts/DeLaFuente.ttf') format('woff2');
}
